<h1>Bem vindo!</h1>
<ul>
    <li><%= link_to "Tipos", kinds_path %></li>
    <li><%= link_to "Contatos", connections_path %></li>
    <li><%= link_to "Endereços", addresses_path %></li>
    <li><%= link_to "Telephones", phones_path %></li>
</ul>